html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    
    h3= moodsHeader 
    ul
        each val in moodsResponses
            li= `${val.slackUserId} is feeling ${val.responseText}`
    h3= hobbiesHeader 
    ul
        each val in hobbiesResponses
            li= `${val.slackUserId} likes to ${val.responseText}`        